.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  text-align: center;
  color: #0d1928;
  padding-top: 17px;
  margin-bottom: 23px;

  @media (max-width: 630px) {
    font-size: 32px;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #757996;
  opacity: 0.9;
  margin-bottom: 37px;
}

.logoList {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;

  img {
    height: 48px;
    margin: 0 24px;
    margin-bottom: 24px;

    @media (max-width: 992px) {
      height: 40px;
    }

    @media (max-width: 663px) {
      height: 30px;
    }
  }
}

.happyClientLogo {
}
