$sect_padding: 330px;

.sectionWrapper {
  padding-bottom: $sect_padding;
  background-color: white;
}

.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;

  @media (max-width: 992px) {
    height: auto;
    padding-bottom: 50px;
  }

  @media (max-width: 630px) {
    padding: 0 16px;
    padding-bottom: 0;
  }
}

.sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(160px + $sect_padding);
  background: url(/img/pricing/header_bg.jpeg);
  background-position: right;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  z-index: -1;

  @media (max-width: 2000px) {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 11vw), 0% 100%);
  }

  @media (max-width: 992px) {
    bottom: calc($sect_padding * 2);
  }

  @media (max-width: 630px) {
    bottom: calc($sect_padding * 3);
  }
}

.header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightSideButtons {
  display: flex;
  justify-items: center;
  align-items: center;
}

.pageTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: white;
  margin-top: 47px;
  margin-bottom: 24px;

  .titleGradient {
    background: linear-gradient(88.66deg, #ff47cc -2.29%, #8f67ff 98.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  @media (max-width: 860px) {
    br {
      display: none;
    }
  }

  @media (max-width: 640px) {
    font-size: 44px;
    line-height: 48px;
    margin-top: 30px;
  }

  @media (max-width: 550px) {
    font-size: 32px;
    line-height: 40px;
    margin-top: 10px;
  }
}

.choosePlanCaption {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;

  br {
    display: none;

    @media (max-width: 550px) {
      display: inline;
    }
  }

  .bold {
    font-weight: bold;
  }
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 54px;

  @media (max-width: 640px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    margin-top: 0;
  }

  .plan {
    width: calc(50% - 12px);
    max-width: 392px;
    min-height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 18px 24px rgba(60, 78, 124, 0.15);
    border-radius: 8px;
    margin: 0 12px;
    padding: 16px;
    position: relative;

    @media (max-width: 860px) {
      margin: 0 0 0 12px;
    }

    @media (max-width: 640px) {
      width: 100%;
      max-width: none;
      margin: 0 0 16px 0;
    }

    &.oss {
      background: #ffffff;

      @media (max-width: 860px) {
        margin: 0 12px 0 0;
      }

      @media (max-width: 640px) {
        margin: 0 0 16px 0;
      }
    }

    &.cloud {
      background: linear-gradient(180deg, #4b33b8 0%, #2d1f6e 100%);
      border: 1px solid;

      border-image-source: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }

    .recommended {
      width: 171px;
      height: 25px;
      position: absolute;
      top: 12px;
      left: -8px;
      color: white;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      padding: 0 0 2px 12px;
      text-align: center;
      letter-spacing: 0.16em;
      clip-path: polygon(0 0, 100% 0%, 88% 100%, 0 100%);
      border-radius: 2px;
      background: linear-gradient(88.66deg, #ff47cc -2.29%, #8f67ff 98.12%),
        linear-gradient(
          93.55deg,
          #77e5f4 -22.62%,
          #3ec1d3 26.48%,
          #0453ca 64.68%
        ),
        #d9d9d9;
    }

    .planName {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      margin: 10px 0 8px 0;

      &.oss {
        color: #0d1928;
      }

      &.cloud {
        color: #ffffff;
      }
    }

    .planDescription {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      opacity: 0.9;

      &.oss {
        color: #272847;
      }

      &.cloud {
        color: #ffffff;
      }
    }

    .chooseButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      height: 43px;
      width: calc(100% - 32px);
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      position: absolute;
      bottom: 16px;

      &.oss {
        color: #3ec1d3;
        background: #ffffff;
        border: 1px solid #d2deec;
      }

      &.cloud {
        color: #ffffff;
        background: linear-gradient(68deg, #d31b2e 0%, #ffaf0f 100%);
        border: 1px solid transparent;
        border-left: none;
      }
    }
  }
}

.bgSphere {
  position: absolute;
  right: -70px;
  z-index: -1;
  top: -57px;

  @media (max-width: 992px) {
    display: none;
  }
}

.lightCircle {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: calc($sect_padding + 260px);
  opacity: 0.6;

  @media (max-width: 992px) {
    display: none;
  }
}

.bgEllipse {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 60px;

  @media (max-width: 992px) {
    display: none;
  }
}

.leftPath {
  position: absolute;
  left: 0;
  bottom: 140px;
  opacity: 0.5;
}

.rightPath {
  position: absolute;
  right: 0;
  bottom: 180px;
  opacity: 0.5;
}
