.sectionWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;

  .sectionBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/homepage/head_sect_gradient.png);
    background-position: right;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
    z-index: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    background-image: url(/img/homepage/stripe1.svg);
    width: 274px;
    height: 133px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 33px;
    background-image: url(/img/homepage/stripe2.svg);
    width: 238px;
    height: 133px;
    z-index: 1;
  }

  .stripeLeft {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .stripeRight {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  .menuItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    svg {
      margin-left: 5px;
      margin-top: 3px;
      height: 9px;
    }

    .menuDropdown {
      position: absolute;
      display: none;
      background-color: rgba(255, 255, 255, 0.25);
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      right: 0;
      top: 150%;
      border-radius: 8px;
      width: max-content;
      flex-direction: column;
      padding: 8px;

      &.opened {
        display: flex;
      }

      .menuDropdownItem {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        display: flex;
        flex-shrink: 0;
        padding: 8px;
        border-radius: 8px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.section {
  background-color: transparent;
  max-width: 1224px;
  width: calc(100% - 32px);
  height: 800px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;
}

.header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionBody {
  width: 100%;
  display: flex;
  padding-top: 78px;

  .bodyLeft {
    width: 50%;
    color: #ffffff;

    .appTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 72px;
      text-transform: capitalize;
    }

    .appSubtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #ffffff;
    }
  }

  .bodyRight {
    width: 50%;
    position: relative;

    img {
      position: absolute;
      max-width: none;
      display: block;
      width: 700px;
      height: 482px;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.headerLogoWrapper {
  user-select: none;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
    }

    span {
      font-weight: 700;
      color: white;
      font-size: 16px;
    }
  }
}

.getStartedButton {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  user-select: none;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
  }
}

.plans {
  display: flex;
  padding-top: 40px;
  user-select: none;
}

.plan {
  width: 197px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  
  &:first-of-type {
    margin-right: 16px;
  }

  &:hover {
    background: linear-gradient(68.66deg, #d31b2e 0%, #ffaf0f 100%);
    box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
    border: none;
  }

  .planTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .planSubtitle {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 2px;
  }
}
