.sectionWrapper {
  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: calc(100% - 60px);
    width: 274px;
    height: 65px;
    z-index: 1;
    background: linear-gradient(-68.87deg, #d31b2e 0%, #ffaf0f 100.29%);
    box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
    border-top-right-radius: 60px;
    transform: rotate(-6deg);

    @media (max-width: 992px) {
      left: -30px;
      transform: scale(0.8) rotate(-6deg);
    }

    @media (max-width: 630px) {
      left: -100px;
      top: calc(100% - 45px);
      transform: rotate(-6deg) scale(0.6);
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: -5px;
    top: calc(100% - 11vw);
    width: 238px;
    height: 65px;
    z-index: 1;
    background: radial-gradient(
      94.84% 555.33% at 5.16% 127.59%,
      #77e5f4 0%,
      #3ec1d3 56.25%,
      #0453ca 100%
    );
    border-bottom-left-radius: 60px;
    box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
    transform: rotate(-6deg);

    @media (max-width: 992px) {
      right: -30px;
      top: calc(100% - 12vw);
      transform: scale(0.8) rotate(-6deg);
    }

    @media (max-width: 630px) {
      right: -70px;
      transform: rotate(-6deg) scale(0.6);
      top: calc(100% - 16vw);
    }
  }
}

.sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/homepage/BG-V2.svg);
  background-position: right;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 11vw), 0% 100%);
  z-index: 0;
}

.mobileMenuButton {
  background-color: transparent;
  border: none;
  color: white;
  display: none;

  @media (max-width: 992px) {
    display: block;
  }
}

.stripeLeft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.stripeRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  @media (max-width: 992px) {
    display: none;
  }

  .menuItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    svg {
      margin-left: 5px;
      margin-top: 3px;
      height: 9px;
    }

    .menuDropdown {
      position: absolute;
      display: none;
      background-color: rgba(255, 255, 255, 0.25);
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      right: 0;
      top: 150%;
      border-radius: 8px;
      width: max-content;
      flex-direction: column;
      padding: 8px;

      &.opened {
        display: flex;
      }

      .menuDropdownItem {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        display: flex;
        flex-shrink: 0;
        padding: 8px;
        border-radius: 8px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  height: 800px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;

  @media (max-width: 992px) {
    height: auto;
    padding-bottom: 200px;
  }

  @media (max-width: 630px) {
    padding: 0 16px;
    padding-bottom: 200px;
  }
}

.header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  text-transform: capitalize;

  @media (max-width: 1100px) {
    font-size: 62px;
    line-height: 62px;

    br {
      display: none;
    }
  }

  @media (max-width: 992px) {
    text-align: center;
  }

  @media (max-width: 630px) {
    font-size: 9vw;
    line-height: 9vw;
  }
}

.sectionBody {
  width: 100%;
  display: flex;
  padding-top: 78px;

  @media (max-width: 992px) {
    flex-direction: column;
    padding-top: 0;
  }

  .bodyLeft {
    width: 50%;
    color: #ffffff;
    order: 1;

    @media (max-width: 992px) {
      order: 2;
      width: 100%;
    }

    .appSubtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      @media (max-width: 1100px) {
        br {
          display: none;
        }
      }

      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }

  .bodyRight {
    width: 50%;
    position: relative;
    order: 2;

    @media (max-width: 992px) {
      order: 1;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      position: absolute;
      max-width: none;
      display: block;
      width: 53vw;
      max-width: 700px;
      height: 482px;
      right: 0;
      top: 0;
      bottom: 0;

      @media (max-width: 1100px) {
        top: calc(0px - 5vw);
      }

      @media (max-width: 992px) {
        position: static;
        width: 100%;
      }

      @media (max-width: 730px) {
        height: 60vw;
      }
    }
  }
}

.getStartedButton {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  user-select: none;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.plans {
  display: flex;
  padding-top: 40px;
  user-select: none;

  @media (max-width: 992px) {
    justify-content: center;
  }

  @media (max-width: 992px) {
    justify-content: space-between;
  }
}

.plan {
  width: 197px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-right: 16px;

  &:hover {
    background: linear-gradient(68.66deg, #d31b2e 0%, #ffaf0f 100%);
    box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
    border: none;
  }

  @media (max-width: 992px) {
    margin: 0 16px;
  }

  @media (max-width: 992px) {
    margin: 0;
    width: calc(50% - 8px);
  }

  .planTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .planSubtitle {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 2px;
  }
}
