$bg_height: 1536px;
$bg_height_tablet: 1900px;
$bg_height_mobile: 1900px;

.sectionWrapper {
  overflow: hidden;
}

.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;

  &.center {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;

    @media (max-width: 992px) {
      padding-bottom: 100px;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url(/img/homepage/BG-V2.svg);
  background-position: right;
  background-size: cover;
  clip-path: polygon(0 11%, 100% 0%, 100% 89%, 0% 100%);
  z-index: -1;
  height: $bg_height;

  @media (max-width: 992px) {
    clip-path: polygon(0 9vw, 100% 0%, 100% calc(100% - 9vw), 0% 100%);
    height: $bg_height_tablet;
  }

  @media (max-width: 675px) {
    clip-path: polygon(0 9vw, 100% 0%, 100% calc(100% - 9vw), 0% 100%);
    height: $bg_height;
  }
}

.sectionTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
  margin-top: 195px;
  margin-bottom: 56px;

  @media (max-width: 992px) {
    font-size: 40px;
    margin-top: 140px;
  }

  @media (max-width: 675px) {
    font-size: 32px;
    margin-top: 100px;

    br {
      display: none;
    }
  }

  @media (max-width: 500px) {
    font-size: 28px;
    line-height: 34px;
  }

  &.bottomTitle {
    margin-top: 224px;

    @media (max-width: 992px) {
      margin-top: 100px;
    }
  }

  .gradient {
    background: linear-gradient(88.66deg, #ff47cc -2.29%, #8f67ff 98.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.row {
  display: flex;
  flex-direction: row;
  z-index: 1;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  .image {
    width: 50%;
    position: relative;
    order: 2;

    @media (max-width: 992px) {
      width: 100%;
      order: 1;
      display: flex;
      justify-content: center;
    }
  }

  .features {
    width: 50%;
    padding-top: 60px;
    order: 1;

    @media (max-width: 992px) {
      width: 100%;
      order: 2;
      padding-top: 0;
    }
  }
}

.subsectTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  padding-bottom: 12px;
  margin-bottom: 0;

  .gradient {
    background: linear-gradient(68.66deg, #ff4493 0%, #ffaf0f 100%),
      linear-gradient(88.66deg, #ff47cc -2.29%, #8f67ff 98.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  @media (max-width: 1050px) {
    font-size: 28px;
  }

  @media (max-width: 992px) {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
  }

  @media (max-width: 675px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media (max-width: 500px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.subsectDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cecff0;
  opacity: 0.9;
  margin-bottom: 40px;

  @media (max-width: 992px) {
    text-align: center;

    br {
      display: none;
    }
  }
}

.terminalWindow {
  display: flex;
  position: absolute;
  max-width: none;
  display: block;
  width: 56vw;
  max-width: 743px;
  height: 490px;
  right: 0;
  top: 0;
  bottom: 0;

  @media (max-width: 992px) {
    position: static;
    width: calc(100vw - 32px);
    height: 60vw;
  }
}

.codeExamples {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 120px;
  background: linear-gradient(
      180deg,
      rgba(4, 8, 45, 0.95) 0%,
      rgba(28, 33, 77, 0.85) 100%
    ),
    #0d1927;
  filter: drop-shadow(0px 18px 24px rgba(60, 78, 124, 0.15));
  z-index: 5;
  position: relative;

  @media (max-width: 992px) {
    height: 660px;
    margin-bottom: 60px;
  }

  .tabs {
    width: 209px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 4px 0;

    @media (max-width: 992px) {
      display: none;
    }

    .tab {
      background: white;
      border-radius: 8px;
      height: 50px;
      width: calc(100% - 16px);
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      padding-left: 24px;
      align-items: center;
      margin-bottom: 4px;
      user-select: none;
      cursor: pointer;

      &:hover,
      &.selected {
        background: linear-gradient(68.66deg, #ff4493 0%, #ffaf0f 100%), #d9d9d9;
        font-weight: 700;
        color: white;
      }
    }
  }

  .code {
    width: calc(100% - 209px);
    padding-top: 0;

    @media (max-width: 992px) {
      width: 100%;
    }

    * {
      font-family: var(--ifm-font-family-monospace);
    }

    pre[class*="language-"] {
      background-color: transparent;
      margin: 0;
      border-radius: 0;
      font-family: monospace;
    }

    :global {
      .line-numbers {
        padding-left: 5.8em;
      }
      .line-numbers-rows {
        border-right: none;
      }
    }
  }
}

.langSelect {
  z-index: 6;
  display: none;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    display: block;
  }
}

.leftStripes {
  position: absolute;
  left: -20px;
  right: auto;
  transform: rotate(-3deg);
  width: calc(50vw - 300px);
  top: calc($bg_height - 3%);

  @media (max-width: 3000px) {
    top: calc($bg_height - 4.5%);
    transform: rotate(-4deg);
  }

  @media (max-width: 1800px) {
    transform: rotate(-5deg);
  }

  @media (max-width: 992px) {
    top: calc($bg_height_tablet - 4.5%);
    width: 50vw;
  }

  @media (max-width: 675px) {
    top: calc($bg_height - 4.5%);
  }
}

.rightStripes {
  position: absolute;
  right: -20px;
  transform: rotate(-3deg);
  width: calc(50vw - 300px);
  top: calc($bg_height - 10%);
  left: auto;

  @media (max-width: 3000px) {
    top: calc($bg_height - 9%);
    transform: rotate(-4deg);
  }

  @media (max-width: 1800px) {
    transform: rotate(-5deg);
  }

  @media (max-width: 992px) {
    top: calc($bg_height_tablet - 12.5vw);
    width: 50vw;
  }

  @media (max-width: 675px) {
    top: calc($bg_height - 4.5%);
  }
}

.blueStripe {
  height: 60px;
  z-index: 4;
  box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
  position: relative;

  &.left {
    background: linear-gradient(
      -272.79deg,
      #77e5f4 -15.33%,
      #3ec1d3 17.42%,
      #0453ca 42.9%
    );
  }

  &.right {
    background: linear-gradient(
      272.79deg,
      #77e5f4 -15.33%,
      #3ec1d3 17.42%,
      #0453ca 42.9%
    );
  }
}

.orangeStripe {
  height: 50px;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
  position: relative;

  &.left {
    background: linear-gradient(-65.6deg, #d31b2e 32.62%, #ffaf0f 82.29%);
  }

  &.right {
    background: linear-gradient(65.6deg, #d31b2e 32.62%, #ffaf0f 82.29%);
  }
}

.blueBall {
  position: absolute;
  width: 193px;
  height: 193px;
  background: linear-gradient(
    179.79deg,
    rgba(203, 194, 255, 0.29) 0.18%,
    rgba(255, 255, 255, 0.05) 99.82%
  );
  backdrop-filter: blur(25px);
  top: 1160px;
  left: 130px;
  border-radius: 50%;

  @media (max-width: 992px) {
    display: none;
  }
}

.profilingFeatures {
  display: flex;
  width: 100%;
  max-width: 1016px;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;

  @media (max-width: 992px) {
    br {
      display: none;
    }
  }

  @media (max-width: 450px) {
    height: auto;
  }

  .leftSide {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;

    @media (max-width: 992px) {
      width: 78%;
      order: 2;

      br {
        display: none;
      }
    }

    .columnSection {
      text-align: right;
      height: calc(100% / 3);

      &.mobileVersion {
        display: none;

        @media (max-width: 992px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .subsectTitle {
        text-align: right;

        @media (max-width: 992px) {
          text-align: left;
        }
      }

      .subsectDescription {
        text-align: right;

        @media (max-width: 992px) {
          text-align: left;
        }
      }

      &:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      &:nth-of-type(2) {
        margin: 16px 0;
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      h3 {
        color: #171d44;
      }

      p {
        color: #272847;
        margin-bottom: 0;
      }
    }
  }

  .centerSide {
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    order: 2;

    @media (max-width: 992px) {
      text-align: left;
      order: 1;
    }

    @media (max-width: 690px) {
      align-items: flex-start;
      // width: 108px;
      min-width: 108px;
      margin-right: 16px;
    }

    img {
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      border-left: 3px dashed #3ec1d3;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      opacity: 0.4;

      @media (max-width: 690px) {
        left: 54px;
      }
    }
  }

  .rightSide {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;

    @media (max-width: 992px) {
      display: none;
    }

    .columnSection {
      text-align: left;
      height: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subsectTitle {
        text-align: left;
      }

      .subsectDescription {
        text-align: left;
      }

      h3 {
        color: #171d44;
      }

      p {
        color: #272847;
        margin-bottom: 0;
      }
    }
  }
}
