.terminalWrapper {
  width: 435px;
  min-width: 435px;
  font-size: 15px;
  margin: 10px;

  .terminalWindow {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.3);
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 1px 13px rgba(0,0,0, 0.3);

    &.whiteBg {
      background-color: rgba(255,255,255,1);
      border-color: rgba(255,255,255,.3);
      color: #333;
    }

    h3 {
      margin: 0.5em 10px;
    }
  }

  .terminalBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 8px;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

    &.grayBg {
      background-color: #ccc;
      background-image: linear-gradient(#fff, #ddd);
    }
  }

  .codeBox {
    display: block;
    overflow: hidden;
    padding: 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: var(--ifm-font-family-monospace);
    color: var(--ifm-color-content);
    font-weight: 400;
    white-space: pre;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .cursor {
    font-weight: bold;
    color: var(--ifm-color-content);
  }

  .commandText {
    font-weight: normal;
    font-weight: bold;
    color: var(--ifm-color-content);
  }

  .terminalBarDot {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #efefef;
    box-shadow: 0 0 1px inset rgba(0, 0, 0, 0.33);
    &.red {
      background-color: #ee6b60;
    }

    &.yellow {
      background-color: #f5be4f;
    }

    &.green {
      background-color: #63c353;
    }
  }

  .terminalWindow {
    min-height: 220px;
  }

  .logoIcon {
    width: 60px;
    display: inline-block;
    vertical-align: baseline;
  }

  .stepInstructionsContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .stepNumber {
    border-radius: 20%;
    background-color: #62B5E5;
    width: 50px;
    margin-right: 10px;
    display: flex;
  }

  .stepInstructions {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .stepInstructions svg {
    display: inline-block;
    vertical-align: bottom;

    filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .3));
  }
  .stepInstructions span {
    display: inline-block;
    vertical-align: baseline;
  }

  .stepIndex {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    right: 38px;
    width: 0;
    text-shadow: 0 1px 2px rgba(0,0,0, 0.3);
  }
}

.terminalRow {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: calc(var(--ifm-spacing-horizontal) * -1);
  margin-right: calc(var(--ifm-spacing-horizontal) * -1);
  margin-bottom: 20px;
}
