.sectionWrapper {
  padding-bottom: 200px;

  @media (max-width: 992px) {
    padding-bottom: 100px;
  }

  @media (max-width: 500px) {
    padding-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: calc(100% - 60px);
    width: 274px;
    height: 65px;
    z-index: 2;
    background: linear-gradient(-68.87deg, #d31b2e 0%, #ffaf0f 100.29%);
    box-shadow: 0px 8px 22px rgba(0, 14, 137, 0.25);
    border-top-right-radius: 60px;
    transform: rotate(-6deg);

    @media (max-width: 992px) {
      left: -30px;
      transform: scale(0.8) rotate(-6deg);
    }

    @media (max-width: 630px) {
      left: -70px;
      top: calc(100% - 45px);
      transform: rotate(-6deg) scale(0.6);
    }
  }
}

.bgRing {
  position: absolute;
  z-index: 2;
  right: 3vw;
  top: 140px;

  @media (max-width: 992px) {
    right: -10vw;
    top: 421px;
  }
}

.bgSphere {
  position: absolute;
  z-index: 2;
  right: 41%;
  top: 65%;

  @media (max-width: 992px) {
    bottom: 5%;
    top: auto;
  }

  @media (max-width: 520px) {
    bottom: 0%;
  }
}

.bgEllipse {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 72%;
}

.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  z-index: 1;

  &.center {
    display: flex;
    justify-content: center;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/homepage/gradient_v2.svg);
  background-position: right;
  background-size: cover;
  clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
  z-index: -1;

  @media (max-width: 2000px) {
    clip-path: polygon(0 11vw, 100% 0%, 100% calc(100% - 11vw), 0% 100%);
  }
}

.cols {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 250px;
  z-index: 4;
  position: relative;

  @media (max-width: 1120px) {
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    padding-top: 100px;
  }

  @media (max-width: 520px) {
    padding-top: 50px;
  }

  .left {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: flex-start;

    @media (max-width: 1120px) {
      width: auto;
    }

    @media (max-width: 992px) {
      width: 100%;
      align-items: center;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 * 2);

    @media (max-width: 1120px) {
      width: auto;
    }

    @media (max-width: 992px) {
      width: 100%;
      align-items: center;
    }
  }
}

.regulators {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    width: 100%;
    justify-content: center;
  }

  img {
    height: 100px;
    width: 100px;
  }
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  color: white;
  padding-top: 17px;
  margin-bottom: 23px;

  @media (max-width: 992px) {
    font-size: 40px;
    text-align: center;
  }

  @media (max-width: 675px) {
    font-size: 32px;
  }

  @media (max-width: 500px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cecff0;
  opacity: 0.9;
  margin-bottom: 24px;

  @media (max-width: 1190px) {
    br {
      display: none;
    }
  }

  @media (max-width: 992px) {
    padding: 0 10%;
    text-align: center;
  }

  @media (max-width: 650px) {
    padding: 0;
  }
}

.learnMore {
  width: 184px;
  height: 41px;
  line-height: 41px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 2px;
  user-select: none;

  &:hover {
    color: white;
    text-decoration: none;
    border: 1px solid #ffaf0f;
    background: linear-gradient(90deg, #ff4493 2%, #ffaf0f 100%), #d9d9d9;
  }

  @media (max-width: 992px) {
    margin-bottom: 30px;
  }

  svg {
    margin-left: 8px;
    margin-top: 2px;
  }
}

.features {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 24px;

  &:nth-of-type(2) {
    padding-right: 52px;
  }

  &:nth-of-type(3) {
    padding-right: 105px;
  }

  @media (max-width: 1190px) {
    padding-right: 0 !important;
  }

  @media (max-width: 992px) {
    justify-content: space-between;
    margin-bottom: 16px;
  }

  @media (max-width: 520px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.feature {
  display: flex;
  width: 340px;
  height: 112px;
  margin-left: 24px;
  padding: 24px;
  background: linear-gradient(
    102.58deg,
    rgba(214, 189, 255, 0.27) 0%,
    rgba(80, 38, 200, 0.4) 100.55%
  );
  box-shadow: 0px 18px 30px rgba(31, 51, 102, 0.06);
  backdrop-filter: blur(30px);
  border-radius: 8px;
  align-items: center;
  flex-shrink: 0;

  @media (max-width: 1120px) {
    width: auto;
    min-width: 282px;
  }

  @media (max-width: 992px) {
    margin-left: 0;
    width: calc(50% - 8px);
  }

  @media (max-width: 730px) {
    flex-direction: column;
    height: auto;
    padding: 12px;
    min-width: auto;
    margin: 0;
  }

  @media (max-width: 520px) {
    height: auto;
    width: 100%;
    flex-direction: row;
    margin-bottom: 12px;
  }

  .featureImage {
    width: 84px;
    height: 76px;
  }

  .featureImage.featureImageSmaller {
    width: 58px;
    height: 53px;
    margin: (76px - 53px) / 2 (84px - 58px) / 2;
  }

  .caption {
    white-space: pre;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 12px;

    @media (max-width: 1120px) {
      margin-left: 12px;
    }

    @media (max-width: 730px) {
      text-align: center;
      margin-left: 0;
    }

    @media (max-width: 560px) {
      margin-left: 12px;
    }

    @media (max-width: 520px) {
      text-align: left;
      white-space: normal;

      br {
        display: none;
      }
    }
  }
}

