/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@use "sass:math";
@import "colors";


/*
                          _
                         (_)
__      ____ _ _ __ _ __  _ _ __   __ _
\ \ /\ / / _` | '__| '_ \| | '_ \ / _` |
 \ V  V / (_| | |  | | | | | | | | (_| |
  \_/\_/ \__,_|_|  |_| |_|_|_| |_|\__, |
                                   __/ |
                                  |___/


Please don't add more things to this file.
When in doubt, ask Dmitry @petethepig or Eduardo @eh-am
For new components use styles.module.scss approach instead.

TODO: move more of these to styles.modules.scss files

*/

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table tr:nth-child(2n) {
  background-color: rgba(0,0,0,0.1);
}

.button--action {
  background: var(--ifm-color-success-contrast-background);
  border-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-heading-color);
  &:hover {
    background: #3ebe44;
    border-color: #3ebe44;
    color: white;
  }
}

// fixes an annoying bug
.navbar__inner.inner_src-theme-Navbar- {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 1rem;
}

// BACKEND related, need to move this

.cloud-signup {
  position: relative;
  background:#1f81e0;
  background-image: linear-gradient(#68acf0, #1f81e0);
  width: 100%;
  height: 700px;

  h1 {
    font-size: 3rem;
    margin: 0 0 2rem;
  }
  .terminal-wrapper {
    margin: 1rem 0;
  }

  .left-pane {
    h1, p, .index-special-offer {
      // text-align: center;
    }
  }
}

.cloud-server-icon {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
  svg {
    color: #333;
  }
}

.cloud-signup {
  height: calc(100vh - var(--ifm-navbar-height));

  .cloud-canvas {

  }
  .cloud-section {

  }
}

// This is a way to add more styles. Currently used in pyroscope cloud.
// TODO: delete this
@import 'extra-styles';
@import 'legal';


.soc2 {
  float: left;
  width: 230px;
  margin: 0 2em 0 0;
}

.blog-new-cloud {
  h3 {
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0.5em;
    // background-image: linear-gradient(to left, #00C9C0, #00E271);
    background-image: linear-gradient(to left, #BB7CF3, #FF65AF);
    color: white;
  }
  img {
    max-width: 150px;
    max-height: 150px;
    margin: 1em auto;
    display: block;
  }

  ul li {
    padding: 0.5em 0;
    position: relative;
    list-style: none;
  }

  ul li::before {
    content: '';
    display: block;
    position: absolute;
    left: -22px;
    top: 13px;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
  }

  ul li::before {
    background-image: url(/img/plus_icon.svg);
  }
}

@media only screen and (min-width: 1000px) {
  .blog-new-cloud {
    h3 {
      min-height: 70px;
    }
  }
}

.blog-list-page aside li,
.blog-post-page aside li {
  max-width: 15vw;
}

// @media only screen and (max-width: 1200px) {
//   .blog-post-page aside {
//     display: none;
//   }
// }
