.sectionWrapper {
  margin-top: -200px;
  padding-top: 240px;
  padding-bottom: 150px;
  overflow: hidden;

  @media (max-width: 720px) {
    padding-bottom: 75px;
  }
}

.section {
  background-color: transparent;
  max-width: 1256px;
  width: 100%;
  padding: 0 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bgSphere {
  position: absolute;
  z-index: 2;
  bottom: -80px;
  left: -50px;
  transform: scale(1.5);
}

.bgSphere2 {
  position: absolute;
  z-index: 1;
  bottom: 60px;
  left: 70%;
  background: linear-gradient(
    179.79deg,
    rgba(203, 194, 255, 0.29) 0.18%,
    rgba(255, 255, 255, 0.05) 99.82%
  );
  backdrop-filter: blur(25px);
  width: 193px;
  height: 193px;
  border-radius: 50%;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 24px;
  text-align: center;
  color: white;
  padding-top: 17px;
  margin-bottom: 23px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 720px) {
    font-size: 32px;
    margin-bottom: 0;
  }

  @media (max-width: 500px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/homepage/BG-V2.svg);
  background-position: left;
  background-size: cover;
  clip-path: polygon(0 11vw, 100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}

.comment {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  .inner {
    height: 100%;
    width: calc(100% - 32px);
    background: #ffffff;
    box-shadow: 0px 9px 20px rgba(0, 51, 153, 0.19);
    border-radius: 16px;
    padding: 56px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    @media (max-width: 1340px) {
      padding: 56px 12px 12px 12px;
    }

    .userPhoto {
      width: 64px;
      height: 64px;
      background: grey;
      border: 3px solid #ffffff;
      filter: drop-shadow(0px 4px 8px rgba(85, 111, 163, 0.56));
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -32px;
    }

    hr {
      background-color: #dde2e8;
      width: 123px;
      align-self: center;
      margin: 16px 0;
    }

    .quoteIcon {
      position: absolute;
      left: 24px;
      top: 44px;
    }
  }

  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #363351;
  }

  .userName {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #003399;
  }
}

.carouselWrapper {
  width: 100%;
  margin-top: 30px;
  z-index: 3;

  @media (max-width: 1340px) {
    width: calc(100% - 75px);
  }

  @media (max-width: 720px) {
    width: calc(100% - 55px);
    margin-top: 0;
  }

  :global {
    .slider-frame {
      overflow: visible !important;
    }

    .slide:not(.slide-visible) {
      opacity: 0.15 !important;
    }

    .slider-control-centerleft {
      cursor: pointer;
      position: absolute;
      top: 170px;
      left: -55px;

      @media (max-width: 720px) {
        top: 120px;
      }
    }

    .slider-control-centerright {
      cursor: pointer;
      transform: rotate(180deg);
      position: absolute;
      top: 157px;
      right: -55px;

      @media (max-width: 720px) {
        top: 107px;
      }
    }
  }
}
