.buttons {
  margin-bottom: 15px;
}

.video {
  margin-bottom: 30px;
  height: 500px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.flamegraph {
  width: 100%;
  height: 500px;
  iframe {
    width: 100%;
    height: 100%;
  }
}
