name: Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      inputsChecked: ${{ steps.github_token_gate.outputs.inputsChecked }}
    steps:
      - uses: svrooij/secret-gate-action@v1
        id: github_token_gate
        with:
          inputsToCheck: 'token'
        env:
          token: ${{ secrets.DOCS_PRIVATE_ACCESS_TOKEN }}

  deploy:
    # skip if user has not access to the token
    if: needs.check.outputs.inputsChecked == 'true'
    needs: check
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--openssl-legacy-provider"
    steps:
      # TODO(petethepig): make it run only when tests passed
      - uses: actions/checkout@v2
      - uses: actions/checkout@v3
        with:
          repository: 'pyroscope-io/docs-private'
          ref: 'master'
          path: 'docs-private'
          token: ${{ secrets.DOCS_PRIVATE_ACCESS_TOKEN }}
      - name: copy Makefile
        run: mv docs-private/Makefile Makefile
      - name: copy generate-pdfs.rb
        run: mv docs-private/generate-pdfs.rb generate-pdfs.rb
      - name: copy extra-plugins.js
        run: mv docs-private/extra-plugins.js extra-plugins.js
      # For PRs we just build
      # for merges we deploy
      - name: build
        if: ${{ github.event_name == 'pull_request' }}
        run: make build
      - name: deploy
        if: ${{ github.event_name != 'pull_request' }}
        run: make deploy
